html, body {
    height: 100%;
}

body {
    font-family: "microsoft yahei";
}

/* 钻石 */
.swiper-slide-2 .diamonds-1 {
    width: 400px;
    height: 318px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: -30%;
    bottom: 0%;
    margin: auto;
}

.swiper-slide-3 .diamonds-2 {
    width: 400px;
    height: 318px;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    margin: auto;
}

.zl_layout {
    max-width: 960px;
    min-width: 320px;
    height: 100%;
    margin: 0 auto;
}

/* 右边导航 */
.main-nav {
    height: 100%;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 888;
    color: #fff;
}

.main-nav .nav-zhezhao {
    position: absolute;
    z-index: 886;
    top: -640px;
    right: 0px;
    width: 640px;
    height: 80%;
    background: #000;
    display: none;
}

.zhezhao-translate {
    transform: translate(-10%, 0);
    transition: all 1s ease-in-out 0s;
}

.main-nav .nav-button {
    position: fixed;
    z-index: 9999;
    top: 20px;
    right: 30px;
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: #1878F1;
}

.main-nav .nav-button i {

}

.main-nav .nav-button i.baise {
    color: #fff;
}

.main-nav .nav-list {
    position: relative;
    z-index: 999;
    padding-left: 85px;
    float: left;
    width: 0;
    height: 80%;
    overflow: hidden;
    background: #1878F1;
    opacity: 0;
    transition: all 1s ease-in-out 0s;
}

.main-nav .nav-list ul {
    height: 100%;
    width: 100%;
    padding-top: 85px;
}

.main-nav .nav-list li {
    position: relative;
    height: 8%;
    width: 300px;
    font-size: 30px;
}

.main-nav .nav-list li:nth-child(1) {

}

.main-nav .nav-list-show {
    width: 100%;
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}

.main-nav .nav-list-hidden {
    width: 0px;
    transition: all 0s ease-in-out 0s;
}
.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    width: 100%;
    height: 100%;
}

/*第一屏*/
video {
    position: absolute;
    height: 100%;
}

.swiper-slide-1 .box {
    width: 100%;
    height: 500px;
    position: absolute;
    z-index: 1;
    top: 20%;
}

.swiper-slide-1 .content {

}

.swiper-slide-1 .content .sy-logo {
    width: 187px;
    height: 231px;
    background: url(../images/logo@2x.png) no-repeat;
    margin: 0 auto;
    position: relative;
    top: -100px;
    opacity: 0;
}

.swiper-slide-1 .content > span {
    color: white;
    height: 20%;
    font-size: 50px;
    text-align: center;
    margin-top: 100px;
    margin: 0 auto;
    display: block;
    position: relative;
    top: -100px;
    opacity: 0;
}

.swiper-slide-1 .content > p {
    color: white;
    margin-top: 40px;
    line-height: 36px;
    height: 20%;
    font-size: 24px;
    text-align: center;
    padding: 0px 15%;
    position: relative;
    top: -100px;
    opacity: 0;
}
.animte-1 {
    transition: all 1s ease;
    animation: change-1 1s linear 1 forwards;
    -webkit-animation: change-1 1s linear 1 forwards;
}
/*第一屏的动画*/
@keyframes change-1 {
    from {
        transform: translate(0px,-100px);opacity: 0;
        -webkit-transform: translate(0px,-100px);opacity: 0;
    }
    to {
        transform: translate(0px,100px);opacity: 1;
        -webkit-transform: translate(0px,100px);opacity: 1;
    }
}

/*第二屏*/
.swiper-slide-2 {
    background: url(../images/bg/1@2x.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.swiper-slide-2 .content {
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 0px;
    right: 0px;
    bottom: 0px;
}

.swiper-slide-2 .content > h3 {
    text-align: center;
    color: #ffffff;
    font-size: 50px;
    line-height: 64px;
    font-family: 'Arial', 'Times New Roman', 'Verdana', '微软雅黑', 'Microsoft YaHei';
    position: relative;
    top: 100px;
    opacity: 0;
}
.swiper-slide-2 .content .text p {
    position: relative;
    top: 100px;
    opacity: 0;
}
.swiper-slide-2 .content .text p:nth-child(1){
    width: 501px;
    height: 50px;
    background: url(../images/125@2x.png) no-repeat;
    color: #ffffff;
    font-size: 24px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
    line-height: 52px;

}
.swiper-slide-2 .content .text p:nth-child(2) {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 30px;
}
.swiper-slide-2 .content .text p:nth-child(3) {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.swiper-slide-2 .content .text p:nth-child(4) {
    color: #ffffff;
    font-size: 22px;
    text-align: center;
    margin-top: 20px;
}
.swiper-slide-2 .mindiamonds span:nth-child(1) {
    top: 0%;
    right: 3%;
}

.swiper-slide-2 .mindiamonds span:nth-child(2) {
    bottom: 23%;
    left: 9%;
}
/*.animte-2-2 {*/
    /*transition: all 1.5s ease;*/
    /*animation: change-2 1.5s linear 1 forwards;*/
    /*-webkit-animation: change-2 1.5s linear 1 forwards;*/
/*}*/
/*.animte-2-1 {*/
    /*transition: all 1.2s ease;*/
    /*animation: change-2 1.2s linear 1 forwards;*/
    /*-webkit-animation: change-2 1.2s linear 1 forwards;*/
/*}*/
.animte-2 {
    transition: all 1s ease;
    animation: change-2 1s linear 1 forwards;
    -webkit-animation: change-2 1s linear 1 forwards;
}
/*第二屏的动画*/
@keyframes change-2 {
    from {
        transform: translate(0px,100px);opacity: 0;
        -webkit-transform: translate(0px,100px);opacity: 0;
    }
    to {
        transform: translate(0px,-100px);opacity: 1;
        -webkit-transform: translate(0px,-100px);opacity: 1;
    }
}

/*第三屏*/
.swiper-slide-3 {
    background: url(../images/bg/2@2x.jpg) no-repeat;
    position: relative;
    background-size: cover;
}

.swiper-slide-3 .content {
    width: 100%;
    height: 420px;
    text-align: center;
}

.swiper-slide-3 .content h3 {
    color: white;
    margin-top: 100px;
    font-size: 50px;
}

.swiper-slide-3 .content .little-title-1 {
    padding-top: 0;
    padding-left: 0;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 268px;
    height: 190px;
    background: url(../images/z-24@2x.png) no-repeat;
    position: absolute;
    margin: auto;
    opacity: 0;
}

.swiper-slide-3 .content .little-title-2 {
    padding-top: 0;
    padding-left: 0;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 263px;
    height: 199px;
    background: url(../images/z-25@2x.png) no-repeat;
    position: absolute;
    margin: auto;
    opacity: 0;
}

.swiper-slide-3 .content .little-title-3 {
    padding-top: 0;
    padding-left: 0;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    width: 260px;
    height: 249px;
    background: url(../images/z-27@2x.png) no-repeat;
    position: absolute;
    margin: auto;
    opacity: 0;
}

.swiper-slide-3 .content .little-title-4 {
    padding-top: 0;
    padding-left: 0;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;
    height: 199px;
    width: 240px;
    background: url(../images/z-26@2x.png) no-repeat;
    position: absolute;
    margin: auto;
    opacity: 0;
}
.mindiamonds span {
    position: absolute;
}

.swiper-slide-3 .mindiamonds span:nth-child(1) {
    bottom: 10%;
    left: 9%;
}

.swiper-slide-3 .mindiamonds span:nth-child(2) {
    bottom: 73%;
    left: 3%;
}

.swiper-slide-3 .mindiamonds span:nth-child(3) {
    bottom: 13%;
    right: 8%;
}
.swiper-slide-3 .content h5 {
    color: white;
    font-size: 30px;
    padding-top: 50px;
}

.swiper-slide-3 .content dt {
    color: white;
    font-size: 22px;
    padding-left: 33px;
}
.swiper-slide-3 .content #hc01 {
    padding-right: 20px;
}
.swiper-slide-3 .content #hc02 {
    padding-right: 44px;
}
/*第三屏的动画*/
.swiper-slide-3 .content .little-3-1 {
    left: -50%;
    right: 0%;
    top: -40%;
    bottom: 0%;
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}

.swiper-slide-3 .content .little-3-2 {
    left: 50%;
    right: 0%;
    top: -40%;
    bottom: 0%;
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}

.swiper-slide-3 .content .little-3-3 {
    left: -50%;
    right: 0%;
    top: 40%;
    bottom: 0%;
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}

.swiper-slide-3 .content .little-3-4 {
    left: 50%;
    right: 0%;
    top: 40%;
    bottom: 0%;
    opacity: 1;
    transition: all 1s ease-in-out 0s;
}

/*第四屏*/
.swiper-slide-5 {
    background: url(../images/bg/4@2x.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.swiper-slide-5 .content {
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    margin: auto;
}

.swiper-slide-5 .content-w {
    width: 1000px;
    height: 1000px;
    border: 1px solid #3c9dca;
    border-radius: 50%;
    position: absolute;
    left: -16%;
}

.swiper-slide-5 .content-m {
    width: 747px;
    height: 747px;
    border: 1px solid #3c9dca;
    border-radius: 50%;
    position: absolute;
    left: -1%;
}

.swiper-slide-5 .content-l {
    width: 424px;
    height: 424px;
    border: 1px solid #3c9dca;
    border-radius: 50%;
    position: absolute;
    left: -2%;
}

.swiper-slide-5 .content-w > img:nth-child(1) {
    position: absolute;
    left: 27%;
    top: -5%;
    opacity: 0;
    animation-delay: 2.5s;
}

.swiper-slide-5 .content-w > img:nth-child(2) {
    position: absolute;
    bottom: -2%;
    right: 28%;
    opacity: 0;
    animation-delay: 3s;
}

.swiper-slide-5 .content-m > img:nth-child(1) {
    position: absolute;
    right: 8%;
    top: 5%;
    opacity: 0;
    animation-delay: 2s;
}

.swiper-slide-5 .content-m > img:nth-child(2) {
    position: absolute;
    left: 8%;
    top: 5%;
    opacity: 0;
    animation-delay: 1s;
}

.swiper-slide-5 .content-m > img:nth-child(3) {
    position: absolute;
    bottom: -8%;
    left: 26%;
    opacity: 0;
    animation-delay: 1.5s;
}

.swiper-slide-5 .content-l > img:nth-child(1) {
    position: absolute;
    top: -19%;
    left: 28%;
    opacity: 0;
}

.swiper-slide-5 .content-l > img:nth-child(2) {
    position: absolute;
    bottom: -9%;
    left: 69%;
    opacity: 0;
    animation-delay: 0.5s;
}

.swiper-slide-5 .content-l > img:nth-child(3) {
    position: absolute;
    bottom: -2%;
    right: 69%;
    opacity: 0;
    animation-delay: 0.2s;
}

.swiper-slide-5 .content-l > img:nth-child(4)  {
    text-align: center;
    position: absolute;
    top: 11%;
    left: 14%;
}
.animte-4 {
    animation: change-4 1s linear 1;
    animation-fill-mode: forwards;
}

.swiper-slide-5 .mindiamonds span:nth-child(1) {
    bottom: 24%;
    right: 0%;
}

.swiper-slide-5 .mindiamonds span:nth-child(2) {
    bottom: 19%;
    left: 3%;
}

.swiper-slide-5 .mindiamonds span:nth-child(3) {
    top: 17%;
    right: 8%;
}
/*第四屏动画*/
@keyframes change-4 {
    to {
        opacity:1;
    }
}
/*第五屏*/
.swiper-slide-6 {
    background: url(../images/bg/5@2x.jpg) no-repeat;
    background-size: cover;
}
.swiper-slide-6 .content {
    width: 100%;
    height: 100%;
    text-align: center;
}
.swiper-slide-6 .content>h3 {
    color: white;
    font-size: 50px;
    margin-top: 100px;
}
.swiper-slide-6 .content .content-img01{
    position: relative;
    left: -20%;
    top: 30px;
    opacity: 0;
    -webkit-backface-visibility: hidden;
    animation: change-5 2s linear infinite;
}
.swiper-slide-6 .content .content-img01>img {

}
.swiper-slide-6 .content .content-img01 .title {
    font-size: 30px;
    color: white;
    line-height: 48px;
    margin-top: -60px;
}
.swiper-slide-6 .content .content-img01 .des {
    font-size: 22px;
    color: white;
    line-height: 48px;
}

.swiper-slide-6 .content .zuanshi-to-right .content-img02{
    position: relative;
    right: -20%;
    bottom: -40px;
    opacity: 0;
    animation: change-5 2s linear infinite;
}
.swiper-slide-6 .content .content-img02 .title {
    font-size: 30px;
    color: white;
    line-height: 48px;
    margin-top: -60px;
}
.swiper-slide-6 .content .content-img02 .des {
    font-size: 22px;
    color: white;
    line-height: 48px;
}
.swiper-slide-6 .mindiamonds span:nth-child(1) {
    left: 9%;
    top: 13%;
}

.swiper-slide-6 .mindiamonds span:nth-child(2) {
    right: 20%;
    top: 38%;
}

.swiper-slide-6 .mindiamonds span:nth-child(3) {
    bottom: 26%;
    left: 22%;
}
.swiper-slide-6 .mindiamonds span:nth-child(4) {
    top: 0%;
    right: 10%;
}
/*第五屏的动画*/
@keyframes change-5 {
    0%{transform: scale(0.98);opacity: 1;}
    50%{transform: scale(1);opacity: 1;}
    100%{transform: scale(0.98);opacity: 1;}
}
@keyframes zuanshi-to-right {
    0%{transform: translate(-50px,0px);opacity: 0;}
    100%{transform: translate(0px,0px);opacity: 1;}
}
/*第六屏*/
.swiper-slide-7 {
    height: 100%;
    background: url(../images/bg/6@2x.jpg) no-repeat;
    background-size: cover;
    position: relative;
}
#iframe-two {
    width: 100%;
    height: 900px;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: 0%;
    margin: auto;
}
.swiper-slide-7 .content {
    width: 100%;
    height: 100%;
    text-align: center;
}
.swiper-slide-7 .content>h3{
    color: white;
    font-size: 50px;
    margin-top: 100px;
}
.swiper-slide-7 .mindiamonds span:nth-child(1) {
    left: 9%;
    top: 13%;
}

.swiper-slide-7 .mindiamonds span:nth-child(2) {
    right: 8%;
    top: 38%;
}

.swiper-slide-7 .mindiamonds span:nth-child(3) {
    bottom: 16%;
    left: 4%;
}



/*第七屏*/
.swiper-slide-8 {
    background: url(../images/bg/7@2x.jpg) no-repeat;
    background-size: cover;
    position: relative;
}

.swiper-slide-8 .content {
    width: 100%;
    text-align: center;
    color: white;
}

.swiper-slide-8 .content .content-top > h3 {
    font-size: 70px;
    margin-top: 100px;
}

.swiper-slide-8 .content .content-top > h5 {
    font-size: 40px;
}

.swiper-slide-8 .content .text {
    position: relative;
    margin-top: 82px;
}
.swiper-slide-8 .content .text .text-content p {
    font-size: 22px;
    color: white;
    line-height: 33px;
    text-align: center;
    padding: 0 12%;
}
.swiper-slide-8 .content .text .text-content img {
    margin-top: 124px;
}
.swiper-slide-8 .content .text .text-content p:nth-child(1){
    margin-top: 40px;
}
.swiper-slide-8 .content .text .text-content p:nth-child(2){
    margin-top: 30px;
}
.swiper-slide-8 .content .text .text-content p:nth-child(3){
    margin-top: 30px;
}
.swiper-slide-8 .content .text > img:nth-child(1) {

}

.swiper-slide-8 .content .text > img:nth-child(2) {
    position: absolute;
    left: 36%;
    top: 132px;
    opacity: 0;
}
.swiper-slide-8 .bottom {
    height: 59px;
    width: 100%;
    background-color: #464E58;
    padding-top: 30px;
    padding-left: 30px;
    font-size: 20px;
    position: absolute;
    bottom: 0;
}
.animte-7 {
    transition: all 1s ease 0s;
    animation: change-7 2s linear 1;
    animation-fill-mode: forwards;
}
/*七屏动画*/
@keyframes change-7 {
    to {
        transform: translate(-20px,-36px);opacity:1;
    }
}