html {
    font-size: 10px;
    box-sizing: border-box;
    max-width: 960px;
    min-width: 320px;
    margin: 0 auto;
}

body, h1, h2, h3, h4, h5, h6, p, div, ul, ol, dl, dt, dd, li, video {
    margin: 0;
    padding: 0;
    list-style: none;
}

* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

li {
    text-decoration: none;
}

a {
    text-decoration: none;
    color: #fff;
}

i, s {

    font-style: normal;
    text-decoration: none;
}

input, img {
    margin: 0;
    padding: 0;
    border: 0 none;
    outline-style: none;
}

.clearfix:after {
    content: "";
    height: 0;
    line-height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

table {
    border-collapse: collapse;
}

button {
    border-style: none;
    background-color: #fff;
    text-align: center;
}


.invest_des>p {
    font-size: 2.2rem;
    color: #8F9BAB;
    line-height: 3.3rem;
}

.invest_content .content>h3 {
    font-size: 3.6rem;
    color: #1876F4;
    line-height: 5.4rem;
    text-align: center;
    margin: 0 12rem;
}

.invest_content .content01 .invest>h3 {
    font-size: 2.8rem;
    color: #1876F4;
}

.invest_content .invest>p,li {
    font-size: 2.2rem;
    color: #8F9BAB;
    line-height: 3.3rem;
}